In [1]:
import os 
import pandas as pd

In [4]:
PATH_FOLDER = os.path.join(os.getcwd(), r"C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data")

daily_calendar_with_events = os.path.join(PATH_FOLDER, 'daily_calendar_with_events.csv')
item_prices = os.path.join(PATH_FOLDER, 'item_prices.csv')
item_sales = os.path.join(PATH_FOLDER, 'item_sales.csv')

df_events = pd.read_csv(daily_calendar_with_events)
df_prices = pd.read_csv(item_prices)
df_sales = pd.read_csv(item_sales)

print(df_events)

df_sales 

df_prices = df_prices.sample(1000000)

            date    weekday  weekday_int       d event
0     2011-01-29   Saturday            1     d_1   NaN
1     2011-01-30     Sunday            2     d_2   NaN
2     2011-01-31     Monday            3     d_3   NaN
3     2011-02-01    Tuesday            4     d_4   NaN
4     2011-02-02  Wednesday            5     d_5   NaN
...          ...        ...          ...     ...   ...
1908  2016-04-20  Wednesday            5  d_1909   NaN
1909  2016-04-21   Thursday            6  d_1910   NaN
1910  2016-04-22     Friday            7  d_1911   NaN
1911  2016-04-23   Saturday            1  d_1912   NaN
1912  2016-04-24     Sunday            2  d_1913   NaN

[1913 rows x 5 columns]

In [5]:
df_events.drop_duplicates(inplace=True)

df_prices.drop_duplicates(inplace=True)

df_sales.drop_duplicates(inplace=True)

In [6]:
# Utilizar la función melt para convertir las columnas d en observaciones
df_sales_melt = pd.melt(df_sales, id_vars=['id','item','category','department','store','store_code','region'], var_name='d', value_name='sales')

# Utilizar la función sort_values para ordenar el dataframe en base a las otras filas
df_sales_sorted = df_sales_melt.sort_values(by=['id','item','category','department','store','store_code','region','d'])

# Utilizar la función rename para renombrar la columna resultante
df_sales_final = df_sales_sorted.rename(columns={'sales': 'a'})

# Mostrar las columnas requeridas ['id','item','category','department','store','store_code','region', 'd']
df_sales_final = df_sales_final[['id','item','category','department','store','store_code','region', 'd']]

df_sales_final

KeyboardInterrupt:

In [ ]:

df_sales_final.to_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_sales_final.csv')

In [7]:
df_sales_final = pd.read_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_sales_final.csv', index_col=0)

In [8]:
df_sales_final = df_sales_final.sample(1000000)

In [9]:

df_1 = df_sales_final.merge(df_events, on="d")

In [11]:
df_1.drop(['event'], axis=1, inplace=True)

In [13]:
df_1 = df_1.sample(300000)

In [14]:
df_prices = df_prices.sample(300000)

In [15]:
df_merged = df_1.merge(df_prices, on='item')

,id,item,category_x,department,store,store_code_x,region,d,date,weekday,weekday_int,category_y,store_code_y,yearweek,sell_price
0,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,NYC_3,201226.0,2.0880
1,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,NYC_1,201338.0,2.0880
2,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,BOS_2,201207.0,2.3760
3,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,PHI_2,201425.0,2.0880
4,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,PHI_3,201346.0,2.0880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29529252,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_2,201532.0,5.2875
29529253,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,PHI_1,201443.0,4.9125
29529254,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,PHI_2,201437.0,4.9125
29529255,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_3,201427.0,4.9125
29529256,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_1,201448.0,5.2875

In [16]:
df_merged.to_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_merged.csv')