In [1]:
import os
import pandas as pd

In [3]:
PATH_FOLDER = os.path.join(os.getcwd(), r"C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data")

merged = os.path.join(PATH_FOLDER, 'df_merged.csv', index_col=0)

df_merged = pd.read_csv(merged)

df_merged

,Unnamed: 0,id,item,category_x,department,store,store_code_x,region,d,date,weekday,weekday_int,category_y,store_code_y,yearweek,sell_price
0,0,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,NYC_3,201226.0,2.0880
1,1,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,NYC_1,201338.0,2.0880
2,2,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,BOS_2,201207.0,2.3760
3,3,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,PHI_2,201425.0,2.0880
4,4,SUPERMARKET_3_235_BOS_1,SUPERMARKET_3_235,SUPERMARKET,SUPERMARKET_3,South_End,BOS_1,Boston,d_1108,2014-02-09,Sunday,2,SUPERMARKET,PHI_3,201346.0,2.0880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29529252,29529252,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_2,201532.0,5.2875
29529253,29529253,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,PHI_1,201443.0,4.9125
29529254,29529254,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,PHI_2,201437.0,4.9125
29529255,29529255,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_3,201427.0,4.9125
29529256,29529256,HOME_&_GARDEN_1_047_BOS_2,HOME_&_GARDEN_1_047,HOME_&_GARDEN,HOME_&_GARDEN_1,Roxbury,BOS_2,Boston,d_1797,2015-12-30,Wednesday,5,HOME_&_GARDEN,BOS_1,201448.0,5.2875